{% extends 'base.html' %}
{% load static %}

{% block title %}{{post.title}}{% endblock title %}

{% block content %}
<br><br>
<img src="{{post.thumbnail.url}}" class="thumbnail">
<br>
<h1 class="text-center">{{post.title}}</h1>
<br>
<p style="text-align: center; font-size: 15px;">{{post.content}}</p>
<br>
{% for image in post_photos %}

<div class="container mt-3">
    <p class="text-center" style="font-size: 20px;">{{image.text}}</p>
    <div class="row">
        <div style="margin: 0 auto; padding-left: -5px;" class="col-lg-4 mt-4">
            <div class="card portfolioContent">
                <a href="{{image.content_image.url}}">
                    <img class="card-img-top" src="{{image.content_image.url}}" alt="Card image" style="width:150%">
                </a>
            </div>
        </div>
        </a>
    </div>
</div>

{% endfor %}
<br>

{% endblock content %}